/vendor/
/node_modules/

.env
.env.backup
.env.production
auth.json

/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage

/.idea/
/.vscode/
/.phpunit.result.cache
/.phpactor.json
/.vagrant/
Homestead.yaml
Homestead.json

npm-debug.log
yarn-error.log

/bootstrap/compiled.php
.antigravityignore
/db-backup/backup.sh
/db-backup/README.md
stats.html
composer.json
composer.lock
package-lock.json
package.json
.agents/reports/
public/vendor/livewire/livewire.esm.js
public/vendor/livewire/livewire.esm.js
public/vendor/livewire/livewire.esm.js.map
public/vendor/livewire/livewire.js
public/vendor/livewire/livewire.min.js
public/vendor/livewire/livewire.min.js.map
public/vendor/livewire/manifest.json
