/vendor/
/node_modules/

.env
.env.backup
.env.production
auth.json

/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage

/.idea/
/.vscode/
/.phpunit.result.cache
/.phpactor.json
/.vagrant/
Homestead.yaml
Homestead.json

npm-debug.log
yarn-error.log

/bootstrap/compiled.php
.antigravityignore
