@font-face {font-family: "Helvetica Neue ME";
  src: url("../fonts/95cecf452d3208890088a5b4c19c7ecf.eot"); /* IE9*/
  src: url("../fonts/95cecf452d3208890088a5b4c19c7ecf.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/95cecf452d3208890088a5b4c19c7ecf.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/95cecf452d3208890088a5b4c19c7ecf.woff") format("woff"), /* chrome、firefox */
  url("../fonts/95cecf452d3208890088a5b4c19c7ecf.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/95cecf452d3208890088a5b4c19c7ecf.svg#Helvetica Neue ME") format("svg"); /* iOS 4.1- */
}
/* General Styles */
body {
  font-family: "Helvetica Neue ME";
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  /* direction: ltr; */
}

.container {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  padding: 0%;
}

.sidebar {
  width: 250px;
  background-color: #007bff;
  color: white;
  padding: 20px;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 10px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background: #007bff;
  color: white;
}

.sidebar {
  text-align: right;
}

.table th, .table td {
  text-align: right;
}

/* Meetings Layout */
.meetings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.meeting-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.meeting-card:hover {
  transform: translateY(-5px);
}

.meeting-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.meeting-details {
  font-size: 1rem;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .meetings-grid {
      grid-template-columns: 1fr;
  }
}

.admin-link {
  color: #007bff; /* Change this to your desired color */
}

.admin-link:hover {
  color: #000487; /* Optional: Change to a lighter color when hovering */
}

.user-img {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
}