  .main-content {
    flex-grow: 1;
    padding: 20px;
    direction: rtl;
  }

  .page-content {
    margin-left: 250px;
    direction: ltr;
  }

  [dir="rtl"] .page-content {
    margin-left: 0;
    margin-right: 250px;
    direction: rtl;
  }

  .top-header .navbar {
    left: 250px;
  }

  [dir="rtl"] .top-header .navbar {
    left: 0;
  }

  [dir="rtl"] .dropdown-menu-end[data-bs-popper] {
    right: -121px;
    direction: rtl;
  }